.dc-image-container {
  max-width: 454px;
  max-height: 400px;
  position: absolute;
  right: 0;
  top: -35px;
}
.dc-image-container-inner {
  .light-repeat1 {
    height: 180px;
    width: 20px;
    background-image: url('~@svg/animation_dc/light-repeating.svg');
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 4px;
    display: block;
    position: absolute;
    animation: evaporate 50s linear infinite;
    -webkit-mask-image: -webkit-gradient(linear, 100% 11%, 100% 35%, from(rgba(0, 0, 0, 0)), to(black));

    @media #{$mobile}{
      top: 0%;
    }
  }

  .light-repeat2 {
    height: 109px;
    width: 16px;
    background-image: url('~@svg/animation_dc/light-repeating2.svg');
    left: 126px;
    right: 0;
    top: 129px;
    display: block;
    position: absolute;
    animation: evaporate 80s linear infinite;
    -webkit-mask-image: -webkit-gradient(linear, 100% 11%, 100% 35%, from(rgba(0, 0, 0, 0)), to(black));

    @media #{$mobile}{
      left: 27.7%;
      right: 0;
      bottom: 41%;
      top: initial;
      width: 15px;
      height: 70px;
    }
  }

  .light-repeat3 {
    height: 109px;
    width: 16px;
    background-image: url('~@svg/animation_dc/light-repeating3.svg');
    right: 125px;
    top: 129px;
    display: block;
    position: absolute;
    animation: evaporate 50s linear infinite;
    -webkit-mask-image: -webkit-gradient(linear, 100% 11%, 100% 35%, from(rgba(0, 0, 0, 0)), to(black));

    @media #{$mobile}{
      right: 27.5%;
      top: 34%;
      width: 15px;
    }
  }
}

@-webkit-keyframes evaporate {
    from { background-position: left 0; }
    to { background-position: left -1790px; }
}
