.careers {
  .hero-image {
    position: relative;
  }
  .header-text-1 {
    text-transform: unset !important;
  }
  .careers-text-wrapper {
    padding: 55px 56px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 13px 27px -5px rgba(50,50,93,.25);
    margin: -10% auto 0;
    position: relative;
    max-width: 960px;
    
    p {
      font-family: "Roboto", sans-serif;
      line-height: 2.29;
      letter-spacing: 0.13px;
      color: #6d7278;
    }
  }
}