.code-panel {
  width: 100%;
  max-width: 520px;
  min-width: 520px;

  border-radius: 6px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #f8fafc;
  font-family: $font-secondary;
  min-height: 451px;
  max-height: 451px;
  display:flex;
  flex-direction: column;

  .header {
    height: 67px;
    min-height: 67px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #07265d;
    font-size:  $font-smd;
    font-weight: 600;
    letter-spacing: 0.15px;
    font-family: $font-secondary;

    border-bottom: 1px solid #d3ddf3;
  }

  .content-body {
    overflow-y: auto;
    padding: 0;
  }

  .footer {
    padding: 24px 16px;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #d3ddf3;
    margin-top: auto;
  }

  .divider {
    color:#d4e1f4;
  }

  a {
    text-decoration: underline !important;
    max-width: 52%;
    @media #{$smallest-desktop} {
        text-align: center;
        max-width: 45%;
      }
  }

  code {
    color: #f85c5a;
    font-family: $font-primary;
    font-size: $font-smd;
    padding: 0;
    line-height: 1.88;
    letter-spacing: 0.15px;


    margin-top: -25px;
    margin-left: -15px;

    @media #{$mobile} {
      margin-left: 0;
    }
  }

  // .code-panel
  @media #{$small-desktop} {
    min-width: 100%;
    max-width: 100%;
  }
}
