.custom-textarea {
  width: 100%;
  resize: none;
  border: 0;
  border-bottom: 1px solid #d4e1f4;
  min-height: 100px;
  outline: none;
  position: relative;
  z-index: 24;
  background: transparent;
}
