.default-layout {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 80px;
    footer {
        margin-top: auto;
    }

    @media #{$small-desktop} {
        padding-top: 70px;
    }
}
