.forgot-password {
    max-width: 940px;
    margin: 0 auto;

    .post-text {
        text-align: center;
        line-height: 1.5;
        letter-spacing: 0.15px;
        span {
            font-weight: 500;
        }

        // .post-text
        @media #{$mobile} {
            text-align: left;
        }
    }

    .post-text-footer {
        margin-top: 125px;
        p,a {
          color:#fff;
        }
    }
}

.forgot-password-container {
    padding: 40px 32px;
    background-color: #fff;
    border-radius: 4px;
    max-width: 420px;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25);
    margin: 32px auto 56px;

   .header-label {
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.13px;
        color: #07265d;
        font-family: "Poppins", sans-serif;
        margin-bottom: 0;
    }
    .custom-button {
        margin: 32px 0 24px;
    }

    form {
        margin-top: 30px;
    }
}