.pricing-hero {
    padding-bottom: 40px;
    background-image: url('~@svg/wave-bg.svg');
    background-size: 100%;
    // background-position: 100% -50%;
    background-position: 100% -20%;
    background-repeat: no-repeat;
    .header-text-1 {
        padding: 30px 0;
    }
    .hero-content-text {
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      line-height: normal;
      line-height: 2.22;
      letter-spacing: normal;
      text-align: center;
      color: #374163;
      margin: 0 0 24px;
    }

    .sliced-section-inner {
        max-width: 960px;
    }

    .cards-wrapper {
        @media #{$tablet-portrait} {
            flex-direction: column;
        }
    }

    .details-list-wrapper {
        @media #{$tablet-portrait} {
            display: flex;
            justify-content: center;
        }
    }
}
