.static-pages {
  max-width: 1199px;
  margin: 0 auto;
  padding-top: 80px;
  
  @media #{$tablet-portrait} {
    padding: 40px 24px;
  }
  .main-header-text {
    padding-bottom: 30px;
  }
  
  p, li{
    @include font-settings;
    font-family: "Roboto", sans-serif;
    line-height: 1.43;
    letter-spacing: 0.13px;
    color: #6d7278;
    margin: 23px 0 16px;
  }
  
  .ordered-list {
    ul {
      list-style-type: disc;
      padding-left: 40px;
      @media #{$mobile} {
        padding-left: 30px;
      }
    }
  }
  
  .company-details {
    margin-top: 50px;
    p {
      margin: 8px 0;
    }
  }
}