// Colors
$dodger-blue: #5394ff;
$pastel-blue: #9fc3ff;
$pale-grey: #fbfbfc;
$warm-pink: #f2526c;
$pale-grey-two: #fafafc;
$rosy-pink: #f57589;
$seafoam-blue: #78daa7;
$pale-grey-three: #f6f6f7;
$sapphire: #2338b8;
$dark: #242f3a;
